@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

body {
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
  }
  .container-fluid{
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #242424;
  }
  /* ============= Animation background ========= */
  .background {
	background: linear-gradient(132deg, #FFBE0B, #e94f37, #610345);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
	position: relative;
	height: 200vh;
	width: 100%;
	overflow: hidden;
	padding:0;
	margin:0px;
  }
  .cube {
	position: absolute;
	top: 80vh;
	left: 45vw;
	width: 10px;
	height: 10px;
    border: solid 1px #242424;
	transform-origin: top left;
	transform: scale(0) rotate(0deg) translate(-50%, -50%);
	animation: cube 15s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
	border-color: #242424 ;
  }
  .cube:nth-child(2) {
	animation-delay: 2s;
	left: 25vw;
	top: 40vh;
  }
  .cube:nth-child(3) {
	animation-delay: 4s;
	left: 75vw;
	top: 50vh;
  }
  .cube:nth-child(4) {
	animation-delay: 6s;
	left: 90vw;
	top: 10vh;
  }
  .cube:nth-child(5) {
	animation-delay: 8s;
	left: 10vw;
	top: 85vh;
  }
  .cube:nth-child(6) {
	animation-delay: 10s;
	left: 50vw;
	top: 10vh;
  }
  .cube:nth-child(7) {
	animation-delay: 12s;
	left: 30vw;
	top: 65vh;
  }
  .cube:nth-child(8) {
	animation-delay: 14s;
	left: 75vw;
	top: 50vh;
  }
  /* ================= Header ============ */
  header{
	position: absolute;
	top:0%;
	left: 0%;
	width:100%;
	margin: 0;
	padding: 0;
  }

  img{
      margin: 10px;
  }

  img:hover{
    transition: transform 150ms;
    transform: scale(1.25);
  }

  /* Header content & title & button*/

  .header-content{
	margin-top: 9%;
	text-align: center;
	color:  #EFEEF5;
  }
  .header-content h1{
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: 1px;
    margin-bottom: 2%;
  }
  .header-content p {
	font-size: 20px;
	line-height: 1.5;
	margin: 20px auto;
    color: whitesmoke;
  }
  .header-content button{
	width: 140px;
	margin:20px 10px;
	color: #e94f37;
	font-size: 20px;
	border:1px solid #EFEEF5;
	font-weight: 700;
	background: #EFEEF5;
	border-radius: 20px;
	padding: 10px;
	cursor:pointer;
	transition: .3s;
  }
  .header-content button:hover{
	border-radius: 0;
  }

  .personal-info {
      
      font-size: 25px;
  }



  h2{
      font-weight: 600;
      font-size: 1.5rem;
      color: whitesmoke;
  }
  .name-email-form{
      margin: 10px;
  }
  

  .card {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.info{
  width: 500px;
  border: 7px solid rgb(14, 15, 14);
  padding: 50px;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
}
    

  .input{
    margin: 20px;
    margin-top: 3% ;
  }

  input[type=text] {
    padding: 7px;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.2);
    color: whitesmoke;
    
  }

  textarea{
      color: #000;
      border-radius: 7px;
      background-color: rgba(0,0,0,0.2);
    color: whitesmoke;
      
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: whitesmoke;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke;
  }



  /* Animate Background*/
  @keyframes Gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
  @keyframes cube {
	from {
	  transform: scale(0) rotate(0deg) translate(-50%, -50%);
	  opacity: 1;
	}
	to {
	  transform: scale(20) rotate(960deg) translate(-50%, -50%);
	  opacity: 0;
	}
  }