body {
 color: #212121;
}
h1 {
  margin: 15px;
}

.container {
  border: 10px;
  margin: 30px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}

.row {
  margin: 30px;
}

[class*="col-"] {
    margin-bottom: 15px;
}
 
  