@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
body {
  font-family: 'Josefin Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #242424;
}


/* ============= Animation background ========= */
.background {
  background: linear-gradient(132deg, #FFBE0B, #e94f37, #610345);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
          animation: Gradient 15s ease infinite;
  position: relative;
  height: 435vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  border: solid 1px #242424;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
          transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 15s ease-in forwards infinite;
          animation: cube 15s ease-in forwards infinite;
}

.cube:nth-child(2n) {
  border-color: #242424;
}

.cube:nth-child(2) {
  
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}

.cube:nth-child(5) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

.cube:nth-child(7) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  left: 30vw;
  top: 65vh;
}

.cube:nth-child(8) {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(9) {
  
  left: 75vw;
  top: 150vh;
}

.cube:nth-child(10) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  left: 15vw;
  top: 140vh;
}

.cube:nth-child(11) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  left: 50vw;
  top: 175vh;
}

.cube:nth-child(12) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  left: 75vw;
  top: 215vh;
}

.cube:nth-child(13) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  left: 15vw;
  top: 215vh;
}

.cube:nth-child(14) {
  
  left: 20vw;
  top: 250vh;
}

.cube:nth-child(15) {
 
  left: 75vw;
  top: 300vh;
}

.cube:nth-child(16) {
  
  left: 15vw;
  top: 350vh;
}


/* ================= Header ============ */
header {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.card{
  opacity: .9;
}

/* Header content & title & button*/
.header-content {
  margin-top: 9%;
  text-align: center;
  color: #EFEEF5;
}

.header-content h1 {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
}

.header-content p {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px auto;
}

.header-content button {
  width: 140px;
  margin: 20px 10px;
  color: #e94f37;
  font-size: 17px;
  border: 1px solid #EFEEF5;
  font-weight: 900;
  background: #EFEEF5;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-content button:hover {
  border-radius: 0;
}

.portfolio-piece {
  margin-top: 8%;
}

/* Animate Background*/
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
/*# sourceMappingURL=portstyles.css.map */